extends ../includes/layout.pug


block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")


block mainContent
    form.product-form(
        action=`/admin/${editing === true ? 'edit-product' : 'add-product'}`, 
        method="POST",
        enctype="multipart/form-data"
        )
        
        input(type="hidden", name='_csrf', value=csrfToken)
    

        if errorMessage
            div.user-message.user-message--error #{errorMessage}

        div.form-control
            label(for="title") Title
            input(
                class=validationErrors.find(e => e.param === 'title') ? 'invalid' : '',
                type="text", 
                name="title", 
                id="title", 
                value=`${editing || hasError === true ? product.title : ''}`
                )
        
        div.form-control
            label(for="description") Description
            textarea(
                class=validationErrors.find(e => e.param === 'description') ? 'invalid' : '',
                name="description", 
                rows="5"
                ) #{editing|| hasError === true ? product.description : ''}
        
        div.form-control
            label(for="price") Price
            input(
                class=validationErrors.find(e => e.param === 'price') ? 'invalid' : '',
                type="number", 
                name="price", 
                id="price", 
                step="0.01", 
                value=`${editing|| hasError === true ? product.price : ''}`
                )
        
        div.form-control
            label(for="image") Image
            input(
                type="file", 
                name="image", 
                id="image", 
                )
    
        if (editing == true) 
            input(type="hidden", value=product._id, name='productID')

        button.btn(type="submit")  #{editing === true ? 'Update Product' : 'Add Product'}
