extends ../includes/layout.pug


block styles
    link(rel="stylesheet", href="/css/orders.css")


block mainContent
    main
        if orders.length <=0
            h1 Nothing there!
        else
            ul.orders
                each order in orders
                    li.orders__item
                        h1 Order - #{order._id}
                            a(href=`/orders/${order._id}`) Invoice
                            

                        ul.orders__products
                            each product in order.products
                                li.orders__products-item #{product.product.title} (#{product.quantity}) -
                                    h2 Total Price #{Number(product.product.price) * product.quantity} $ 
                              
                                        