extends ../includes/layout.pug


block mainContent
    main.centered
        h1 #{product.title}
        hr 
        div
            img(src=product.imageURL, alt=product.title)
        h2 #{product.price}
        p  #{product.description}
        //---------------------------------
        form(action="/add-to-card", method="POST")
            input(type="hidden", name="productID", value=product.id)
            button.btn Add to Cart     
